In [1]:
# importing the Dataset
import pandas as pd
spam_data = pd.read_csv('G:\\SHWETA VIT\\Winter Semester\\J Component Project\\Dataset\\SMSSpamCollection.csv')
print(spam_data)

     Label                                                SMS
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5569  spam  This is the 2nd time we have tried 2 contact u...
5570   ham               Will ü b going to esplanade fr home?
5571   ham  Pity, * was in mood for that. So...any other s...
5572   ham  The guy did some bitching but I acted like i'd...
5573   ham                         Rofl. Its true to its name

[5574 rows x 2 columns]

In [2]:
spam_data.shape

(5574, 2)

In [3]:
spam_data.dtypes

Label    object
SMS      object
dtype: object

In [4]:
#Use to remove spaces or Strip whitespaces (including newlines) 
spam_data.columns=spam_data.columns.str.lstrip()

In [5]:
#To get values
spam_data.values

array([['ham',
        'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'],
       ['ham', 'Ok lar... Joking wif u oni...'],
       ['spam',
        "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"],
       ...,
       ['ham',
        'Pity, * was in mood for that. So...any other suggestions?'],
       ['ham',
        "The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free"],
       ['ham', 'Rofl. Its true to its name']], dtype=object)

In [6]:
#To get information about file
spam_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5574 entries, 0 to 5573
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   5574 non-null   object
 1   SMS     5574 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [7]:
# Number of words in each SMS:
spam_data['word_count'] = spam_data['SMS'].apply(lambda x: len(str(x).split(" ")))
spam_data[['SMS','word_count']]

                                                    SMS  word_count
0     Go until jurong point, crazy.. Available only ...          20
1                         Ok lar... Joking wif u oni...           6
2     Free entry in 2 a wkly comp to win FA Cup fina...          28
3     U dun say so early hor... U c already then say...          11
4     Nah I don't think he goes to usf, he lives aro...          13
...                                                 ...         ...
5569  This is the 2nd time we have tried 2 contact u...          30
5570               Will ü b going to esplanade fr home?           8
5571  Pity, * was in mood for that. So...any other s...          10
5572  The guy did some bitching but I acted like i'd...          26
5573                         Rofl. Its true to its name           6

[5574 rows x 2 columns]

In [8]:
# Number of Characters in each SMS:
spam_data['char_count'] = spam_data['SMS'].str.len() #including spaces
spam_data[['SMS','char_count']].head()

                                                 SMS  char_count
0  Go until jurong point, crazy.. Available only ...         111
1                      Ok lar... Joking wif u oni...          29
2  Free entry in 2 a wkly comp to win FA Cup fina...         155
3  U dun say so early hor... U c already then say...          49
4  Nah I don't think he goes to usf, he lives aro...          61

In [9]:
# Calculating average word length in each SMS:
def avg_word(sentence):
    words = sentence.split()
    return (sum(len(word) for word in words)/len(words))

spam_data['avg_word'] = spam_data['SMS'].apply(lambda x: avg_word(x))
spam_data[['SMS','avg_word']].head()

                                                 SMS  avg_word
0  Go until jurong point, crazy.. Available only ...  4.600000
1                      Ok lar... Joking wif u oni...  4.000000
2  Free entry in 2 a wkly comp to win FA Cup fina...  4.571429
3  U dun say so early hor... U c already then say...  3.545455
4  Nah I don't think he goes to usf, he lives aro...  3.769231

In [10]:
# Number of stopwords:
from nltk.corpus import stopwords
stop = stopwords.words('english')
spam_data['stopwords'] = spam_data['SMS'].apply(lambda x: [x for x in x.split() if x in stop])
spam_data['stopwords_count'] = spam_data['SMS'].apply(lambda x: len([x for x in x.split() if x in stop]))
spam_data[['SMS','stopwords','stopwords_count']].head(10)

,SMS,stopwords,stopwords_count
0,"Go until jurong point, crazy.. Available only ...","[until, only, in, there]",4
1,Ok lar... Joking wif u oni...,[],0
2,Free entry in 2 a wkly comp to win FA Cup fina...,"[in, a, to, to, to]",5
3,U dun say so early hor... U c already then say...,"[so, then]",2
4,"Nah I don't think he goes to usf, he lives aro...","[don't, he, to, he, here]",5
5,FreeMsg Hey there darling it's been 3 week's n...,"[there, it's, been, now, and, no, some, you, u...",13
6,Even my brother is not like to speak with me. ...,"[my, is, not, to, with, me]",6
7,As per your request 'Melle Melle (Oru Minnamin...,"[your, has, been, as, your, for, all, to, your]",9
8,WINNER!! As a valued network customer you have...,"[a, you, have, been, to]",5
9,Had your mobile 11 months or more? U R entitle...,"[your, or, to, to, the, with, for, on]",8

In [11]:
# Number of special characters:
spam_data['hastags'] =spam_data['SMS'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
spam_data['address'] =spam_data['SMS'].apply(lambda x: len([x for x in x.split() if x.startswith('@')]))
spam_data[['SMS','hastags','address']].head(10)

                                                 SMS  hastags  address
0  Go until jurong point, crazy.. Available only ...        0        0
1                      Ok lar... Joking wif u oni...        0        0
2  Free entry in 2 a wkly comp to win FA Cup fina...        0        0
3  U dun say so early hor... U c already then say...        0        0
4  Nah I don't think he goes to usf, he lives aro...        0        0
5  FreeMsg Hey there darling it's been 3 week's n...        0        0
6  Even my brother is not like to speak with me. ...        0        0
7  As per your request 'Melle Melle (Oru Minnamin...        0        0
8  WINNER!! As a valued network customer you have...        0        0
9  Had your mobile 11 months or more? U R entitle...        0        0

In [12]:
spam_data['SMS']

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5569    This is the 2nd time we have tried 2 contact u...
5570                 Will ü b going to esplanade fr home?
5571    Pity, * was in mood for that. So...any other s...
5572    The guy did some bitching but I acted like i'd...
5573                           Rofl. Its true to its name
Name: SMS, Length: 5574, dtype: object

In [13]:
pip install stop_words

Requirement already satisfied: stop_words in c:\programdata\anaconda3\lib\site-packages (2018.7.23)Note: you may need to restart the kernel to use updated packages.

In [14]:
# Importing required Libraries
from sklearn.model_selection import train_test_split
from stop_words import get_stop_words
from collections import Counter
import seaborn as sns
import pandas as pd
import numpy as np
import string
import re

import matplotlib.pyplot as mp
%matplotlib inline

In [15]:
import pandas as pd
import re
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import re, string, random
stop_words = set(stopwords.words('english'))

In [16]:
spam_data

,Label,SMS,word_count,char_count,avg_word,stopwords,stopwords_count,hastags,address
0,ham,"Go until jurong point, crazy.. Available only ...",20,111,4.600000,"[until, only, in, there]",4,0,0
1,ham,Ok lar... Joking wif u oni...,6,29,4.000000,[],0,0,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,28,155,4.571429,"[in, a, to, to, to]",5,0,0
3,ham,U dun say so early hor... U c already then say...,11,49,3.545455,"[so, then]",2,0,0
4,ham,"Nah I don't think he goes to usf, he lives aro...",13,61,3.769231,"[don't, he, to, he, here]",5,0,0
...,...,...,...,...,...,...,...,...,...
5569,spam,This is the 2nd time we have tried 2 contact u...,30,160,4.366667,"[is, the, we, have, have, won, the, is]",8,0,0
5570,ham,Will ü b going to esplanade fr home?,8,36,3.625000,[to],1,0,0
5571,ham,"Pity, * was in mood for that. So...any other s...",10,57,4.800000,"[was, in, for, other]",4,0,0
5572,ham,The guy did some bitching but I acted like i'd...,26,125,3.846154,"[did, some, but, be, in, and, he, it, to, for]",10,0,0
5573,ham,Rofl. Its true to its name,6,26,3.500000,"[to, its]",2,0,0

In [17]:
pd.options.mode.chained_assignment = None
for i in spam_data.index: 
     spam_data['SMS'][i]=re.sub(r'\@\w*', '', spam_data['SMS'][i])

In [18]:
pd.options.mode.chained_assignment = None
for i in spam_data.index: 
     spam_data['SMS'][i]=re.sub(r'\*\w*', '', spam_data['SMS'][i])

In [19]:
spam_data

,Label,SMS,word_count,char_count,avg_word,stopwords,stopwords_count,hastags,address
0,ham,"Go until jurong point, crazy.. Available only ...",20,111,4.600000,"[until, only, in, there]",4,0,0
1,ham,Ok lar... Joking wif u oni...,6,29,4.000000,[],0,0,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,28,155,4.571429,"[in, a, to, to, to]",5,0,0
3,ham,U dun say so early hor... U c already then say...,11,49,3.545455,"[so, then]",2,0,0
4,ham,"Nah I don't think he goes to usf, he lives aro...",13,61,3.769231,"[don't, he, to, he, here]",5,0,0
...,...,...,...,...,...,...,...,...,...
5569,spam,This is the 2nd time we have tried 2 contact u...,30,160,4.366667,"[is, the, we, have, have, won, the, is]",8,0,0
5570,ham,Will ü b going to esplanade fr home?,8,36,3.625000,[to],1,0,0
5571,ham,"Pity, was in mood for that. So...any other su...",10,57,4.800000,"[was, in, for, other]",4,0,0
5572,ham,The guy did some bitching but I acted like i'd...,26,125,3.846154,"[did, some, but, be, in, and, he, it, to, for]",10,0,0
5573,ham,Rofl. Its true to its name,6,26,3.500000,"[to, its]",2,0,0

In [20]:
## Data Preprocessing

In [21]:
def preprocess_spam_sms(sms):
    sms.lower()
    # Remove urls
    sms = re.sub(r"http\S+|www\S+|https\S+", '', sms, flags=re.MULTILINE)
    # Removing Punctuation:
    sms = re.sub(r'[^\w\s]','', sms)

    # Remove punctuations
    sms = sms.translate(str.maketrans('', '', string.punctuation))

    # Remove stopwords
    sms_tokens = word_tokenize(sms)
    filtered_words = [w for w in sms_tokens if not w in stop_words]
    
    return " ".join(filtered_words)

In [22]:
import nltk

In [23]:
nltk.download('punkt')

[nltk_data] Error loading punkt: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [24]:
pd.options.mode.chained_assignment = None
spam_data['SMS'] = spam_data['SMS'].apply(preprocess_spam_sms)

In [25]:
spam_data

,Label,SMS,word_count,char_count,avg_word,stopwords,stopwords_count,hastags,address
0,ham,Go jurong point crazy Available bugis n great ...,20,111,4.600000,"[until, only, in, there]",4,0,0
1,ham,Ok lar Joking wif u oni,6,29,4.000000,[],0,0,0
2,spam,Free entry 2 wkly comp win FA Cup final tkts 2...,28,155,4.571429,"[in, a, to, to, to]",5,0,0
3,ham,U dun say early hor U c already say,11,49,3.545455,"[so, then]",2,0,0
4,ham,Nah I dont think goes usf lives around though,13,61,3.769231,"[don't, he, to, he, here]",5,0,0
...,...,...,...,...,...,...,...,...,...
5569,spam,This 2nd time tried 2 contact u U 750 Pound pr...,30,160,4.366667,"[is, the, we, have, have, won, the, is]",8,0,0
5570,ham,Will ü b going esplanade fr home,8,36,3.625000,[to],1,0,0
5571,ham,Pity mood Soany suggestions,10,57,4.800000,"[was, in, for, other]",4,0,0
5572,ham,The guy bitching I acted like id interested bu...,26,125,3.846154,"[did, some, but, be, in, and, he, it, to, for]",10,0,0
5573,ham,Rofl Its true name,6,26,3.500000,"[to, its]",2,0,0

In [26]:
# Make sentences in lower case
pd.options.mode.chained_assignment = None
spam_data['SMS']=spam_data['SMS'].str.lower()

In [27]:
spam_data

,Label,SMS,word_count,char_count,avg_word,stopwords,stopwords_count,hastags,address
0,ham,go jurong point crazy available bugis n great ...,20,111,4.600000,"[until, only, in, there]",4,0,0
1,ham,ok lar joking wif u oni,6,29,4.000000,[],0,0,0
2,spam,free entry 2 wkly comp win fa cup final tkts 2...,28,155,4.571429,"[in, a, to, to, to]",5,0,0
3,ham,u dun say early hor u c already say,11,49,3.545455,"[so, then]",2,0,0
4,ham,nah i dont think goes usf lives around though,13,61,3.769231,"[don't, he, to, he, here]",5,0,0
...,...,...,...,...,...,...,...,...,...
5569,spam,this 2nd time tried 2 contact u u 750 pound pr...,30,160,4.366667,"[is, the, we, have, have, won, the, is]",8,0,0
5570,ham,will ü b going esplanade fr home,8,36,3.625000,[to],1,0,0
5571,ham,pity mood soany suggestions,10,57,4.800000,"[was, in, for, other]",4,0,0
5572,ham,the guy bitching i acted like id interested bu...,26,125,3.846154,"[did, some, but, be, in, and, he, it, to, for]",10,0,0
5573,ham,rofl its true name,6,26,3.500000,"[to, its]",2,0,0

In [28]:
nltk.download('wordnet')

[nltk_data] Error loading wordnet: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [29]:
# Stemming:Stemming refers to the removal of suffices, like “ing”, “ly”, “s”, etc.
# Lemmatization:Lemmatization is a more effective option than stemming because it converts the word into its root word, 
#rather than just stripping the suffices. It makes use of the vocabulary and does a morphological analysis to obtain the 
#root word. Therefore, we usually prefer using lemmatization over stemming.

from textblob import Word
spam_data.loc[:, ('SMS')] = spam_data.loc[:, ('SMS')].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
spam_data['SMS']

0       go jurong point crazy available bugis n great ...
1                                 ok lar joking wif u oni
2       free entry 2 wkly comp win fa cup final tkts 2...
3                     u dun say early hor u c already say
4              nah i dont think go usf life around though
                              ...
5569    this 2nd time tried 2 contact u u 750 pound pr...
5570                     will ü b going esplanade fr home
5571                           pity mood soany suggestion
5572    the guy bitching i acted like id interested bu...
5573                                    rofl it true name
Name: SMS, Length: 5574, dtype: object

In [30]:
#replacing numbers with " "
spam_data['SMS'] = spam_data['SMS'].str.replace(r'\d+','')

In [31]:
spam_data['SMS']

0       go jurong point crazy available bugis n great ...
1                                 ok lar joking wif u oni
2       free entry  wkly comp win fa cup final tkts st...
3                     u dun say early hor u c already say
4              nah i dont think go usf life around though
                              ...
5569    this nd time tried  contact u u  pound prize  ...
5570                     will ü b going esplanade fr home
5571                           pity mood soany suggestion
5572    the guy bitching i acted like id interested bu...
5573                                    rofl it true name
Name: SMS, Length: 5574, dtype: object

In [57]:
spam_data

,Label,SMS,word_count,char_count,avg_word,stopwords,stopwords_count,hastags,address
0,ham,go jurong point crazy available bugis n great ...,20,111,4.600000,"[until, only, in, there]",4,0,0
1,ham,ok lar joking wif u oni,6,29,4.000000,[],0,0,0
2,spam,free entry wkly comp win fa cup final tkts st...,28,155,4.571429,"[in, a, to, to, to]",5,0,0
3,ham,u dun say early hor u c already say,11,49,3.545455,"[so, then]",2,0,0
4,ham,nah i dont think go usf life around though,13,61,3.769231,"[don't, he, to, he, here]",5,0,0
...,...,...,...,...,...,...,...,...,...
5569,spam,this nd time tried contact u u pound prize ...,30,160,4.366667,"[is, the, we, have, have, won, the, is]",8,0,0
5570,ham,will ü b going esplanade fr home,8,36,3.625000,[to],1,0,0
5571,ham,pity mood soany suggestion,10,57,4.800000,"[was, in, for, other]",4,0,0
5572,ham,the guy bitching i acted like id interested bu...,26,125,3.846154,"[did, some, but, be, in, and, he, it, to, for]",10,0,0
5573,ham,rofl it true name,6,26,3.500000,"[to, its]",2,0,0

In [100]:
spam_data['SMS']

0       go jurong point crazy available bugis n great ...
1                                 ok lar joking wif u oni
2       free entry  wkly comp win fa cup final tkts st...
3                     u dun say early hor u c already say
4              nah i dont think go usf life around though
                              ...
5569    this nd time tried  contact u u  pound prize  ...
5570                     will ü b going esplanade fr home
5571                           pity mood soany suggestion
5572    the guy bitching i acted like id interested bu...
5573                                    rofl it true name
Name: SMS, Length: 5574, dtype: object

In [112]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(spam_data['SMS'], spam_data['Label'], test_size=0.3, random_state=1)
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, stratify=y) 

df_train = pd.DataFrame()
df_test = pd.DataFrame()

df_train['SMS'] = X_train
df_train['Label'] = y_train
df_train = df_train.reset_index(drop=True)

df_test['SMS'] = X_test
df_test['Label'] = y_test
df_test = df_test.reset_index(drop=True)

In [113]:
X_train.shape

(3901,)

In [116]:
X_test.shape

(1673,)

In [117]:
y_train.shape

(3901,)

In [118]:
y_test.shape

(1673,)

In [114]:
df_train.groupby(['Label']).count()

        SMS
Label
ham    3376
spam    525

In [115]:
df_test.groupby(['Label']).count()

        SMS
Label
ham    1451
spam    222

In [119]:
df_train.shape

(3901, 2)